*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas{
    border: 1px solid black;
    background-image: url('./images/castle_background.jpg');
}

#hidden_character-tileset{
    display: none;
}

#castle-tileset{
    display: none;
}

#main-character-tileset{
    display: none;
}

#skeleton-tileset{
    display: none;
}

.you-died-img{
    position: absolute;
    opacity: 0;
}

#you-died-img-displayed{
    height: 768px;
    width: 1024px;
    top: 0;
    left: auto;
    right: auto;
    opacity: 1;
    transition: 1600ms;
}

#you-died-audio{
    display: none;
}