@font-face{
    font-family: scratch;
    src: url('./fonts/NAILS___.TTF');
}

*{
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    font-family: scratch;
    font-size: 44px;
    color: navajowhite;
}

body{
    min-width: 1850px;
    max-width: 100vw;
    min-height: 820px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/full-background.jpg);
    background-size: cover;
}

.ending-credits{
    display: none;
}

.ending-credits span{
    display: none;
}

#ending-credits{
    display: block;
    text-align: center;
    position: absolute;
    margin-left: 700px;
    z-index: 20;
    top: 190px;
    min-width: 550px;
    width: 550px;
    max-width: 550px;
    min-height: 350px;
    height: 350px;
    max-height: 350px;
}

#ending-credits span{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}


#hidden-volume{
    display: none;
}

#visible-volume{
    font-size: 120px;
}

#hidden-game-canvas-hidden{
    position: absolute;
    display: none;
    opacity: 0;
}

.hidden-game-canvas-displayed{
    position: absolute;
    z-index: 5;
    height: 769px;
    min-height: 769px;
    width: 1024px;
    min-width: 1024px;
    top: 50px; 
    left: auto;
    right: auto;
}


.game-canvas{
    border: 2px solid white;
    border-top-width: 3px ;
    background-image: url('./images/castle_background.jpg');
    background-size: contain;
    position: relative;
    left: auto;
    right: auto;
    top: 0px;
    z-index: 0;
}

#game-canvas-ending{
    border: 2px solid white;
    border-top-width: 3px ;
    background-image: url('./images/castle_background_ending.jpg');
    background-size: cover;
    position: relative;
    left: auto;
    right: auto;
    top: 0px;
    z-index: 0;
}

#main-character-tileset,
#main-character-tileset-opaque,
#hidden_character-tileset,
#skeleton-tileset,
#castle-tileset,
#health-tileset{
    display: none;
}

.you-died-img{
    position: absolute;
    opacity: 0;
    padding-top: 50px;
}

#you-died-img-displayed{
    height: 768px;
    width: 1024px;
    top: 0;
    z-index: 10;
    left: auto;
    right: auto;
    opacity: 1;
    transition: 1600ms;
}

#you-died-audio{
    display: none;
}

/*     Do not touch above        */

.top-container{
    margin-top: 48px;
    width:100%;
    height: 100%;
    display: flex;
}
#bottom-container{
    width:100%;
    height: 100%;
    display: flex;
}

#left-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 768px;
}

#left-block > .material-icons{
    cursor: pointer;
}

#right-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 768px;
}

#bottom-block{
    display: flex;
    width: 100%;
    height: 100%
}

#left-button-container{
    width: 100%;
    height: calc(100vh - 768px);
}

#right-button-container{
    width: 100%;
    height: calc(100vh - 768px  - 80px);

}

#instruction-block{
    min-width: 1024px;
    height: calc(100vh - 768px  - 80px);
    /* margin-top: 10px;
    background-color: black;
    border: 2px solid white; */
}

#left-button-container{
    width: 100%;
    height: calc(100vh - 768px - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github .filled,
.linkedin .filled{
    z-index: 3;
}

.github .unfilled,
.linkedin .unfilled{
    z-index: 5;
    position: absolute;
}


.github .unfilled:hover,
.linkedin .unfilled:hover{
    opacity: 0;
    transition: 0.1s;
}