@font-face{
    font-family: scratch;
    src: url('./fonts/NAILS___.TTF');
}

*{
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    font-family: scratch;
    font-size: 44px;
    color: navajowhite;
}

body{
    min-width: 1850px;
    max-width: 100vw;
    min-height: 850px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/full-background.jpg);
    background-size: cover;
}

#hidden-game-canvas-hidden{
    position: absolute;
    display: none;
    opacity: 0;
}

.hidden-game-canvas-displayed{
    position: absolute;
    height: 769px;
    width: 1024px;
    top: 0;
    left: auto;
    right: auto;
}


#game-canvas{
    border: 2px solid white;
    background-image: url('./images/castle_background.jpg');
}

#main-character-tileset,
#main-character-tileset-opaque,
#hidden_character-tileset,
#skeleton-tileset,
#castle-tileset,
#health-tileset{
    display: none;
}

.you-died-img{
    position: absolute;
    opacity: 0;
}

#you-died-img-displayed{
    height: 768px;
    width: 1024px;
    top: 0;
    left: auto;
    right: auto;
    opacity: 1;
    transition: 1600ms;
}

#you-died-audio{
    display: none;
}

/*     Do not touch above        */

.top-container{
    width:100%;
    height: 100%;
    display: flex;
}
#bottom-container{
    width:100%;
    height: 100%;
    display: flex;
}

#left-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 768px;
}

#right-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 768px;
}

#bottom-block{
    display: flex;
    width: 100%;
    height: 100%
}

#left-button-container{
    width: 100%;
    height: calc(100vh - 768px);
}

#right-button-container{
    width: 100%;
    height: calc(100vh - 768px);

}

#instruction-block{
    min-width: 1024px;
    height: calc(100vh - 768px);
}

#left-button-container{
    width: 100%;
    height: calc(100vh - 768px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github .filled,
.linkedin .filled{
    z-index: 3;
}

.github .unfilled,
.linkedin .unfilled{
    z-index: 5;
    position: absolute;
}


.github .unfilled:hover,
.linkedin .unfilled:hover{
    opacity: 0;
    transition: 0.1s;
}